In [46]:
import pandas as pd
import numpy as np

def kpi(file_path):
    
    # Charger le fichier CSV dans un DataFrame : 
    df = pd.read_csv(file_path)
    
    #le temps de base heurs par jous: 
    tmp_base = 6
    #les heurs de fonctionnements par jours : 
    temp_fjours = 12
    
    
    #Calculer le temps de maintenance predictive : 
    temps_main_predict = [np.random.uniform(10,30) for i in range(len(df))] * df['failure']
    
    #calculer le temps de maintenances corrective :
    temps_main_corr = [np.random.uniform(15, 50) for i in range(len(df))] * df['realFail']
    
    #calculer le temps net :
   
    List_jours2 =[31,29,31,30,31,30,31,31,30,31,30,31]
    for elem in List_jours2:
        temps_net = tmp_base*elem + (temps_main_predict/60 *elem)
   
    #calculer le temps brut : 
    
    diff = df['failure']-df['realFail']
    rend = [i for i in range(len(diff))]
    rend = np.array(rend)
    temps_brut = [i for i in range(len(diff))]
    temps_brut = np.array(temps_brut)
    for i in range(len(diff)):
        
            if (diff[i]==0) :  
                for elem in List_jours2:
                    temps_brut[i]=temps_net[i] + (temps_main_corr[i]/60 *elem)
                rend[i]= (temps_net[i]/temps_brut[i] )*100
            elif (diff[i]>0):
                for elem in List_jours2:
                    temps_brut[i]=temps_net[i] + (temps_main_predict[i]/60 *elem)
                rend[i]= (temps_net[i]/temps_brut[i] )*100
            elif (diff[i]<0):
                #calculer le temps brut : 
                for elem in List_jours2:
                    temps_brut[i] = temps_net[i] + (temps_main_corr[i]/60 *elem)
                rend[i]=(temps_net[i]/temps_brut[i])*100
        
    
    #calcul des KPIs
    #calculer MTBF: nombre heures de fonctionnement / nombre de pannes 
    
   # mtbf = temp_fjours*nombre_de_jours/df['realFail']
    List_jours =[31,29,31,30,31,30,31,31,30,31,30,31]
    for elements in List_jours:
        mtbf = temp_fjours*elements/df['realFail']
    
    
    #calculer MTTR : 
    
    mttr = temps_main_corr/df['realFail']
    
    #disponibilité materielle 
    dm = mtbf /(mtbf+mttr)
    
     # Ajouter les colonnes des KPIs au DataFrame
    df['temps_fonctionnement_parJ'] = temp_fjours
    df['temps_utile/inutile'] = diff
    df['temps_brut'] = temps_brut
    df['temps_net'] = temps_net
    df['productivite'] = rend
    
    df['mtbf'] = mtbf
    df['mttr'] = mttr
    df['disponibilité_materielle'] = dm
    
    # Enregistrer le nouveau fichier CSV avec les nouvelles colonnes
    new_file_path = file_path.split('.csv')[0] + '_with_kpisfs33.csv'
    df.to_csv(new_file_path, index=False)
    
    # Retourner le DataFrame avec les nouvelles colonnes
    return df

df_with_kpisf33 = kpi('results.csv')
df_with_kpisf33

,month,failure,realFail,temps_fonctionnement_parJ,temps_utile/inutile,temps_brut,temps_net,productivite,mtbf,mttr,disponibilité_materielle
0,1,6,11,12,-5,463,246.516557,53,33.818182,38.200871,0.469573
1,2,6,9,12,-3,335,237.064654,70,41.333333,21.151067,0.661498
2,3,4,6,12,-2,306,222.638251,72,62.000000,27.109176,0.695776
3,4,4,9,12,-5,372,243.687728,65,41.333333,27.660030,0.599091
4,5,6,11,12,-5,332,217.144356,65,33.818182,20.376207,0.624016
5,6,5,9,12,-4,377,239.164918,63,41.333333,29.698185,0.581901
6,7,5,7,12,-2,362,238.574237,65,53.142857,34.304749,0.607711
7,8,12,8,12,4,440,313.067423,71,46.500000,35.441313,0.567479
8,9,16,15,12,1,637,411.913047,64,24.800000,39.095139,0.388136
9,10,11,4,12,7,375,280.582260,74,93.000000,19.872229,0.823940
10,11,4,6,12,-2,316,223.287447,70,62.000000,30.108720,0.673118
11,12,2,8,12,-6,355,199.865785,56,46.500000,37.772304,0.551783

In [1]:
import pandas as pd
import numpy as np

# Charger le fichier CSV dans un DataFrame : 
df2= pd.read_csv('results.csv')

# Remplacer la colonne failure avec 0: 
df2['failure'] = 0

# Enregistrer les données dans un nouveau fichier CSV
df2.to_csv('results_with_any_feature.csv', index=False)